<!DOCTYPE html>
<html>
    <head style = "margin-left: 20px;font-weight: 100;"> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Login</title>
    </head>
    <h1><span>FPT University Academic Portal</span></h1>
    <br/>
   
    <body width="100%" style ="text-align: center;">

        <div class ="Login" style="width: 300px; height: 300px; border: 1px solid grey; 
        border-radius: 10px; text-align: center;">

            <h2 style="color: #868787; font-family: sans-serif;">Login to access</h2>

            <input style="width: 200px; height: 40px; margin-bottom: 10px;"
             type="text" placeholder ="username">

            <input style="width: 200px; height: 40px; margin-bottom: 10px;"
             type="password" placeholder = "password">

            <button style="width: 200px; height: 40px; margin-bottom: 10px;
             border-radius: 5px; border: none; background-color: rgb(16, 162, 16);
             color: white; font-size: 15px;">Login

            </button>
        </div>
    </body>
</html>
